@import "tailwindcss";

@font-face {
  font-family: 'MerriweatherRegular';
  src: url('/css/fonts/merriweather-regular-webfont.eot');
  src: url('/css/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/merriweather-regular-webfont.woff') format('woff'),
       url('/css/fonts/merriweather-regular-webfont.ttf') format('truetype'),
       url('/css/fonts/merriweather-regular-webfont.svg#MerriweatherRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MerriweatherBold';
  src: url('/css/fonts/merriweather-bold-webfont.eot');
  src: url('/css/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/merriweather-bold-webfont.woff') format('woff'),
       url('/css/fonts/merriweather-bold-webfont.ttf') format('truetype'),
       url('/css/fonts/merriweather-bold-webfont.svg#MerriweatherBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #3B3B3B;
  background: url(/images/bg.png) left top repeat;
}

h1 {
  font-family: Arial, serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.9px;
  color: #3f66af;
  margin-left: -2px;
  font-variant-caps: small-caps;
}

h2 {
  font-family: Arial, serif;
  font-size: 22px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-family: Arial, serif;
  font-size: 18px;
  line-height: 25px;
}

p {
  margin-bottom: 25px;
}

.intro {
  font-size: 18px;
}

a {
  color: #3f66af;
  text-decoration: none;
}

a:hover {
  color: #9e9e9e;
}

ul, ol {
  margin-bottom: 25px;
  padding: 0 40px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

strong, b {
  font-weight: bold;
}

blockquote {
  margin: 25px 0;
  padding-left: 40px;
  padding-right: 30px;
  background: url(/images/quote.png) no-repeat 3px 0;
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
}

blockquote cite {
  font-style: normal;
  text-transform: uppercase;
  font-size: 11px;
}

section {
  position: relative;
  padding: 125px 0 25px 0;
  background: url(/images/section-sep.png) repeat-x left 25px;
}

.section-content {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
